<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Is KDP open?</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/index.css" />
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body>
    <div class="container">
        <div class="title">
            <h2>Is KDP Open?</h2>
        </div>
        <div class="subtitle">
          Unikalnych adresów IP dzisiaj: <b>{{ number_of_visitors_today }}</b>
          <p class="techdesc">Twój adres: {{ client_ip }}</p>
        </div>
  
      <div>
        <img src="{{picture_link}}" class="sign"/>
      </div>
      <div class="message">
          <p>
            <h2>{{message}}</h2>
          </p>
          <p>Ostatnie sprawdzenie: <b>{{latest_check_time}}</b> <a class="techdesc" href="/latest_response.json">Zobacz pełną odpowiedź z Tuya API</a></p>
      </div>
      <hr class="dotted">

      <div class="subtitle">
        <p>(C) ISKDPOPEN.PL 2023</p>
        <p><a class="techdesc" href="https://github.com/jjlakis/iskdpopen">Zobacz kod na Githubie</a></p>
      </div>




    </div>

  </body>
</html>
